<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>

    <h1>Login Page</h1>
    <form action="">
        <input type="text" name="text" id="" required>
        <input type="password" name="password" id="" required>
        <button type="submit">Login</button>
    </form>
    <p>No Account?</p><a href="">Register here</a>
</body>

</html>