<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <h2>Admin Dashboard</h2>

    <a href="/admin/add">Add New Book</a>
    <a href="/admin/logout">Logout</a>

    <hr>

    <% books.forEach(book=> { %>
        <div>
            <h3>
                <%= book.title %>
            </h3>
            <a href="/admin/edit/<%= book._id %>">Edit</a>
            <a href="/admin/delete/<%= book._id %>">Delete</a>
        </div>
        <hr>
        <% }) %>
</body>

</html>