<h2>Add Movie</h2>
<form method="POST" enctype="multipart/form-data">
    <input name="title" placeholder="Title"><br>
    <input name="director" placeholder="Director"><br>
    <input name="releaseYear" placeholder="Release Year"><br>
    <input name="rating" placeholder="Rating"><br>
    <input name="genre" placeholder="Genre"><br>
    <textarea name="description" placeholder="Description"></textarea><br>
    <input type="file" name="poster"><br>
    <button type="submit">Add Movie</button>
</form>